/* 4- Header Section */
.main-header {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  background: var(--color-second);
  border-bottom: 10px solid var(--color-black-first);
}

.btn-nav {
  font-weight: 500;
  margin-right: 30px;
  align-items: center;
  display: inline-flex;
  color: var(--color-third);
}

.btn-nav:hover {
  font-weight: 600;
  transition-delay: 0.2s;
  color: var(--color-black-second);
}

.btn-nav::before {
  content: "";
  width: 10px;
  height: 10px;
  cursor: auto;
  margin-right: 10px;
  background: var(--color-first);
}

.btn-cv {
  margin-right: 0;
  padding: 18px 20px;
  display: inline-block;
  color: var(--color-third);
  background: var(--color-first);
  box-shadow: 5px 5px 0px var(--color-black-first);
}

.btn-cv:hover {
  font-weight: 500;
  transition-delay: 0.2s;
  color: var(--color-first);
  background: var(--color-third);
  box-shadow: 5px 5px 0px var(--color-first);
}
