/* 6- Skills Section */
.skills-section {
  height: 730px;
  padding: 50px 0 100px 0;
  background: var(--color-first);
  border-bottom: 10px solid var(--color-second);
}

.skills-container {
  width: 960px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  margin: 60px auto;
}

.skills-items {
  width: 430px;
  height: 90px;
  display: flex;
  flex: 1 1 250px;
}

.skills-items:nth-of-type(1n + 1) {
  justify-content: right;
}

.skills-items:nth-of-type(2n + 1) {
  justify-content: left;
}

.skills-items__img {
  width: 80px;
  height: 90px;
  display: flex;
}

.skills-items__img img {
  align-self: center;
}
.skills-bar {
  width: 320px;
  height: 40px;
  border: 1px solid black;
}

.progress {
  width: 320px;
  height: 40px;
  border: 5px solid black;
}

.progress::-moz-progress-bar,
.progress::-webkit-progress-bar {
  background: var(--color-second);
}

.progress-container {
  display: flex;
  margin-left: 26px;
  flex-direction: column;
}

.progress-container spam {
  padding-bottom: 16px;
  font-size: 1.5625em;
  line-height: 25px;
  color: white;
  margin-top: 5px;
  font-family: "Press Start 2P", monospace, Arial, Helvetica, sans-serif;
}
