/* Base Font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;700&display=swap");

/* Style Guide */
:root {
  /*Base*/
  --color-first: #f25a70;
  --color-second: #7c5e99;
  --color-third: #ffffff;

  /*Blacks*/
  --color-black-first: #000000;
  --color-black-second: #3a4042;
  --color-black-third: #828282;

  /*Status*/
  --color-error: #ba1f33;
  --color-warning: #ceb02a;
  --color-success: #62c370;
}

html {
  font-family: "Fira Code", monospace, Arial, Helvetica, sans-serif;
}

.main-header {
  background: var(--color-second);
}

.main-nav a {
  color: var(--color-third);
  font-size: 20px;
  font-weight: 500;
  margin-right: 30px;
}
